* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  width: 100%;
  height: 75px;
}

#nav .container_center {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #58402c;
}

.nav_left {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_right {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav_right i {
  margin-left: 10px;
}

.nav_right a {
  margin-left: 20px;
  text-decoration: none;
  color: #58402c;
  font-weight: bold;
}

.nav_right #sign_up {
  background-color: #30488f;
  color: white;
  padding: 10px;
  border-radius: 7px;
}

.container_principale {
  width: 100%;
  height: 500px;
}

.prima {
  width: 100%;
  height: 655px;
}

.prima .container_int_prima {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.prima .container_int_prima .prima_left {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.prima .container_int_prima .prima_left h1 {
  font-size: 60px;
  color: #58402c;
}

.prima .container_int_prima .prima_left h3 {
  font-size: 30px;
  color: #58402c;
  margin: 40px 0;
}

.prima .container_int_prima .prima_left span {
  color: #cfd7ef;
  margin: 0 10px;
}

.prima .container_int_prima .prima_left a {
  color: #58402c;
  text-decoration: none;
  margin-top: 20px;
}

.prima .container_int_prima .prima_left a i {
  color: #58402c;
  margin-left: 5px;
}

.prima .container_int_prima .bottons_signs a {
  color: white;
  background-color: #30488f;
  width: 185px;
  height: 35px;
  padding: 7px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.prima .container_int_prima .prima_right {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.prima .container_int_prima .prima_right img {
  width: 100%;
  height: 350px;
}

.seconda {
  width: 100%;
  height: 400px;
  background-color: #ffe7d2;
}

.seconda .container_int_seconda {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.seconda .container_int_seconda #title_seconda {
  text-align: center;
  font-size: 30px;
  margin: 60px 0 0 0;
}

.triple_img_seconda {
  display: flex;
  justify-content: center;
  height: 197px;
}

.triple_img_seconda div {
  margin: 60px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 273px;
  height: 197px;
}

.triple_img_seconda div img {
  width: 140px;
  height: 105px;
}

.triple_img_seconda div h3 {
  margin-top: 30px;
  text-align: center;
}

#gatto {
  width: 60px;
  height: 105px;
}

.terza {
  width: 100%;
  height: 500px;
  background-color: #ffe7d2;
}

.terza .container_int_terza {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #58402c;
}

.terza .container_int_terza img {
  width: 280px;
  height: 286px;
}

#cont_sec_coniglio {
  border-bottom: none;
}

.sesta {
  width: 100%;
  height: 600px;
  background-color: white;
}

.sesta .sesta_left {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.sesta .sesta_left img {
  width: 768px;
  height: 470px;
}

.sesta .sesta_right {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sesta .sesta_right h2 {
  font-size: 26px;
  margin: 15px 40px;
}

.sesta .sesta_right h4 {
  font-size: 20px;
  margin: 15px 40px;
}

.sesta .sesta_right a {
  text-decoration: none;
  color: #58402c;
  margin: 20px 40px;
  font-size: 22px;
}

.sesta .sesta_right img {
  width: 270px;
  height: 200px;
  margin: 20px 80px;
}

