.container_principale{
  width: 100%;
  height: 500px;
}
.prima{
  width: 100%;
  height: 655px;
  .container_int_prima{
    height: 100%;
    @include container_centrale;
    .prima_left{
      width: 50%;
      height: 100%;
      float: left;
      @include flex2;
      h1{
        font-size: 60px;
        color: $colore_testo;
      }
      h3{
        font-size: 30px;
        color: $colore_testo;
        margin: 40px 0;
      }
      span{
        color: #cfd7ef;
        margin: 0 10px;
      }
      a{
        color: $colore_testo;
        text-decoration: none;
        margin-top: 20px;
        i{
          color: $colore_testo;
          margin-left: 5px;
        }
      }
    }
    .bottons_signs a{
      color: white;
      background-color: #30488f;
      width: 185px;
      height: 35px;
      padding: 7px 20px;
      border-radius: 5px;
      text-decoration: none;
    }
    .prima_right{
      width: 50%;
      height: 100%;
      float: left;
      @include flex2;
      img{
        width:100%;
        height: 350px;
      }
    }
  }
}
// sezione arancione sotto la pirma bianca
.seconda{
  width: 100%;
  height: 400px;
  background-color: $colore_secondario;
  .container_int_seconda{
    @include container_centrale;
    @include flex2;
    align-items:center;
    justify-content: space-between;
  }
}
.triple_img_seconda{
  @include flex1;
  height: 197px;
  div{
    width: 273px;
    height: 197px;
    img{
      width: 140px;
      height: 105px;
    }
  }
}
