@mixin container_centrale{
  width: 80%;
  margin: 0 auto;
}
@mixin border_prova{
  border: 1px solid black;
}
@mixin flex1{
  display: flex;
  align-items: center;
}
@mixin flex2{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
